videos/*
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.webm
*.m4v
*.m4a
*.m4b
*.m4p
test_frames/*
*.jpg
env/*
__pycache__/*
bounding_boxes.npy 
env/*
saved_for_later/*
poses/*
embeddings/*
clustering_results/*
clustered_poses/*